<div class="container mt-5">
  <h1>{{course.name}}</h1>

  <form [formGroup]="courseEditForm" (ngSubmit)="editCourseform()">

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" placeholder="Name" class="form-control" id="name" formControlName="name">
      <div class=" bg-danger" *ngIf="!courseEditForm.get('name').value && courseEditForm.get('name').touched">Name is
        Required
      </div>
    </div>
    <!--/name-->

    <!--Class-->
    <div class="form-group">
      <label for="duration">Duration of Course:</label>
      <input id="duration" placeholder="Duration of Course" class="form-control" formControlName="duration">

      <div class="bg-danger" *ngIf="!courseEditForm.get('duration').value && courseEditForm.get('duration').touched">Specify the
        Duration of Course
      </div>
    </div>
    <!--/Class-->

    <!--Age-->
    <div class="form-group">
      <label for="fee">Fee:</label>
      <input id="fee" type="number" min="0" max="30" placeholder="Fee" class="form-control" formControlName="fee">

      <div class="bg-danger" *ngIf="!courseEditForm.get('fee').value && courseEditForm.get('fee').touched">Enter Fee of the Course</div>

    </div>
    <!--/Age-->

    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input type="date" class="form-control" id="startDate" placeholder="date" formControlName="startDate">
      <div class="bg-danger" *ngIf="!courseEditForm.get('startDate').value && courseEditForm.get('startDate').touched">Specify the Initial date
      </div>
    </div>


    <button class="btn btn-primary mr-4" type="submit" [disabled]="!courseEditForm.valid">Add Course</button>
  </form>
</div>
